/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
}
img {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: larger;
  }
}
.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fruits-container {
  padding: 40px;
}
.fruit-container {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .fruits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  img {
    width: 80%;
  }
  .bg-container {
    height: 100vh;
  }
  .heading {
    font-size: 40px;
  }
}
.counter {
  color: #ffd569;
}
.btn {
  background-color: #007bff;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}
